@use "_variables";

.subscribersList {
  padding: 15px;
  font-size: pxToRem(30);

  &__label {
    text-align: start;
    padding-block: 10px;
  }

  &--table {
    margin: 0;
    padding: 0;
    width: 100%;
    border: 2px solid $borderColor;
    &__tr {
      background-color: $thColor;
    }

    tr {
      @include hoverEffect(none, 0.3s)
    }
    tr:hover:not(:first-child) {
      @include hoverEffect($tdHoverColor, 0.3s)
    }

    &__td {
      padding: 10px;
      border: 1px solid $borderColor;
    }
  }
}